/* Atomic Component */
.btn {
    position: relative;  
    margin: 0px;  
    width: auto;
    border-radius: 0px;
    a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: snow;
        font-size: 18px;
    }

    background-color: #404040;
    &:hover{ background: #202020; }
}

/* Organism Component */
/* Menubar */
.nav {
    width: auto;
    overflow: hidden;
    background-color: #404040;

    ul {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    ul li {
        position: relative;
        width: 20%;
        display: inline-block;
        padding-right: 5px;
        margin-right: 5px;
    }
}

/* Page */
