/* Atomic Component */
.btn {
    position: relative;  
    margin: 0px;  
    width: auto;
    border-radius: 0px;
    opacity: 0.65;
    a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: snow;
        font-size: 18px;
    }

    background-color: #404040;
    &:hover{ background: #202020; opacity: 1.0; }
}

/* Organism Component */
/* Header */
.header {
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: snow;
    margin: 0;
    padding: 0;

    img{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        opacity: 0.85;
    }
}

/* Menubar */
.nav {
    width: auto;
    overflow: hidden;
    background-color: #404040;

    ul {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    ul li {
        position: relative;
        width: 20%;
        display: inline-block;
        padding-right: 5px;
        margin-right: 5px;
    }
}
