@function get_vw($size, $viewport:1900){
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:80){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

/* Atomic Component, Molecule Component */
.btn {
    position: relative;
    display: table;  
    margin: 0px;
    height:50%;  
    width: 50%;
    border-radius: 0px;
    opacity: 0.65;
    a {
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        @include fz_vw(100);
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    background-color: #404040;
    &:hover, &:focus{ 
        background: #202020;
        opacity: 1.0; 
        a {
            color: rgb(240, 240, 240);
        }
    }

    &:active { 
        background-color: black; 
        a{
            color: white;
        }
    }
}

.btn_now {
    position: relative;
    display: table;  
    margin: 0px;
    height:50%;  
    width: 50%;
    border-radius: 0px;
    background-color: rgb(200, 200, 200);

    p {
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        color: white;
        @include fz_vw(100);
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.title {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 50%;
    left: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-style: bold;
    z-index: 14;

    h1 {
        width: 85%;
        text-align: right;
        background-color: white;

        @include fz_vw(120);
        text-decoration: none;
        color: rgb(200, 200, 200);
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

/* Organism Component */
/* Title */
.title_area {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: white;
}

/* Header */
.header {
    position: relative;
    width: auto;
    height: 38.5vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;

    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        z-index: 0;
    }
}

/* Menubar */
.nav {
    width: auto;
    height: 61.5vh;
    overflow: hidden;
    background-color: #404040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* page */
.page {
    position: relative;
    background-color: white;
}