.card_area {
    position: relative;
    display: table;
    width: 400px;
    height: 500px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    display: table-cell;
    width: 100%;
    background-color: #202020;

    img {
        width: 100%;
        height: 50%;
    }

    a {
        color: orange;
        text-decoration: none;
    }
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.description {
    text-align: center;
    width:80%;
    margin: auto;
    margin-top: 50px;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

.skills{
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 14px;
    bottom: 75px;
}

.link {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 15px;
}