$bg-color: white;
$nav-bg-color: #404040;
$hov-bg-color: #202020;
$normal-font-color: rgb(200, 200, 200);

.page_gray{
    $bg-color: #404040;
}


/* Atomic Component, Molecule Component */
.btn {
    position: relative;
    display: table;  
    margin: 0px;  
    width: 25%;
    height: 7.5vh;
    border-radius: 0px;

    a {
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: $normal-font-color;
        font-size: 21px;
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    &:hover, &:focus { 
        background: $hov-bg-color; 
    }
    a:hover, a:focus {
        color: white;
    }

    &:active { background-color: black; }
}

.btn_now {
    position: relative;
    display: table;  
    margin: 0px;
    width: 25%;
    height: 7.5vh;
    border-radius: 0px;
    background-color: black;

    a {
        display: block;
        height: 7.5vh;
        line-height: 7.5vh;
        text-align: center;
        text-decoration: none;
        pointer-events: none;
        color: white;
        font-size: 21px;
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.title {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    font-style: bold;
    z-index: 14;
    background-color: $bg-color;

    h1 {
        width: 85%;
        font-size: 2rem;
        text-align: right;
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: $bg-color;
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: $normal-font-color;
        background-color: $bg-color;
    }
}

/* Organism Component */
/* Title */
.title_area {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: $bg-color;
}

/* Organism Component */
/* Header */
.header {
    position: relative;
    width: auto;
    height: 15vh;
    overflow: hidden;
    background-color: $bg-color;

    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        z-index: 0;
    }
}

/* Menubar */
.nav {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: $nav-bg-color;
}